.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100vw;
  padding: 1% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #031263;
  z-index: 12;
}

.header__logo{
  display: block;
  width: auto;
  height: 100%;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav{
  margin-left: auto;
  width: 30%;
  list-style-type: none;
  font-weight: bold;
}

.header__nav__link{
  padding-right: 10%;
  display: inline-block;
  float: right;
}

.header__nav__link a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .header {
    height: 10%;
  }
}

