body{
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #031263;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before{
  box-sizing: border-box;
}
