.logo{
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
  padding-top: 2%;
}

.game{
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__board__playground__category{
  color: #1CBFBA;
}
