<div class="menu">
  <p class="menu__title">Moje statystyki</p>
  <div class="menu__statistics">
    <div class="menu__statistics__results">
      <p class="menu__statistics__results__label">
        Ilość gier: {{ totalGamesCount }}
      </p>
      <p class="menu__statistics__results__label">Wygrane: {{ totalWonGames }}</p>
      <p class="menu__statistics__results__label">Przegrane: {{ totalGamesCount - totalWonGames }}</p>
      <p class="menu__statistics__results__label">
        Suma punktów: {{ totalPointsCount }}
      </p>
      <p class="menu__statistics__results__label">
        Średnia punktów w grze: {{ totalPointsCount / totalGamesCount }}
      </p>
    </div>
    <div class="menu__statistics__charts">
      <ngx-charts-bar-vertical
        style="fill: white;"
        [view]="view"
        [scheme]="colorScheme"
        [results]="dataset"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <button class="button" routerLink="/profile">Powrót</button>
</div>
