.menu {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__title {
  font-weight: bold;
  font-size: 1.4em;
}

.menu__statistics {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.menu__statistics__charts {
  margin-left: 50px;
}
