.game {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.game__password {
  width: 100%;
  height: 30%;
}

.game__password__category {
  color: #1cbfba;
  text-align: center;
}

.game__password__letters {
  width: 80%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game__password__letters__word {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-self: flex-start;
}

.entry_letter {
  align-self: flex-start;
  min-width: 40px;
  min-height: 50px;
  text-align: center;
  padding: 10px 5px;
  color: #000;
  background-color: #fff;
  border: #707070 1px solid;
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 5px;
  perspective: 1000px;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.flip {
  animation: fade_in 0.9s;
}

.entry_letter--active {
  background-color: #1fbf27;
  border-color: #1fbf27;
}

@keyframes fade_in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

#entry_space {
  padding: 10px;
}

.game__board {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game__board__left {
}

.game__board__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__board__labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__board__labels__player {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}

.game__board__labels__player p:first-child {
  color: #1cbfba;
}

.game__board__wheel {
  margin: 0 auto 10px auto;
}

#arrow_down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #fff;
  margin: 0 auto;
  transform: translateY(10px);
  z-index: 3;
}

#wheel {
  background: url('../../assets/img/wheel.png') no-repeat center;
  border: none;
  height: 300px;
  width: 300px;
  cursor: pointer;
  margin: 0 auto;
  z-index: 2;
}

#wheel:focus,
#wheel:active,
#wheel:hover {
  outline: none;
}

.game__board__keyboard {
  margin: 20px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(5, 20px);
  grid-gap: 30px 30px;
}

#letter--notcliked {
  color: #1cbfba;
  padding: 5px;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
  cursor: pointer;
  border: transparent 1px solid;
  transition: border-color 0.3s ease-out;
}

#letter--cliked {
  color: #111;
  padding: 5px;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
  cursor: pointer;
  border: transparent 1px solid;
  transition: border-color 0.3s ease-out;
}

#letter:hover {
  border-color: white;
}

.game__labels__player {
  color: #1cbfba;
}

.game__labels__btn {
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  padding: 12px 30px;
  min-width: 150px;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.info_keyboard,
.info_wheel_turn {
  text-align: center;
}

.info_keyboard--win {
  font-weight: bold;
  font-size: 1.2em;
  color: #3b8b27;
}

.game_results{
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 21, 0.8);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_results__inner{
  position: relative;
  top: 2%;
  left: 0;
  margin: 0 auto;
  width: 60%;
  height: 70%;
  background-color: #f1eaea;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11;
  font-weight: bolder;
  font-size: 1.1em;
}

@media only screen and (max-width: 1100px) {
  .game {
    margin: 9% auto 0 auto;
  }

  .entry_letter {
    min-width: 32px;
    min-height: 40px;
    padding: 3px 2px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0 2px;
    border-radius: 3px;
  }

  .game__board__labels {
    font-size: 0.9em;
  }

  .game__labels__btn {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 0.9em;
    min-width: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .game {
    margin: 13% auto 0 auto;
  }

  .entry_letter {
    min-width: 25px;
    min-height: 32px;
    padding: 3px 0px;
    margin: 0 1px;
    border-radius: 2px;
  }

  .game__board__labels {
    font-size: 0.8em;
  }

  .game__labels__btn {
    margin: 5px 0;
    font-size: 0.8em;
  }
}
