<div class="game">
  <div class="game__password">
    <h3 class="game__password__category">Kategoria: {{ category }}</h3>
    <div class="game__password__letters">
      <div
        class="game__password__letters__word"
        *ngFor="let entry_word of entryWords"
      >
        <div *ngFor="let entry_letter of entry_word">
          <div *ngIf="entry_letter !== undefined">
            <div
              *ngIf="entry_letter.value === ' '; then space; else letter"
            ></div>
            <ng-template #letter>
              <div class="entry_letter entry_box">
                <div
                  *ngIf="
                    entry_letter.isShown === true;
                    then visible;
                    else notVisible
                  "
                ></div>
                <ng-template #visible>{{ entry_letter.value }}</ng-template>
                <ng-template #notVisible>{{ ' ' }}</ng-template>
              </div>
            </ng-template>
            <ng-template #space>
              <div class="entry_box" id="entry_space"></div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="game__board">
    <div class="game__board__left"></div>
    <div class="game__board__main">
      <div *ngIf="isDivineTour; then keyboard; else wheel"></div>
      <ng-template #keyboard>
        <p>Kwota: {{ prize }}</p>
        <p class="info_keyboard">{{ this.infoKeyboard }}</p>
<!--        <div *ngIf="roundEnd">-->
<!--          <button class="game__labels__btn" (click)="newRound()">-->
<!--            Nowe hasło-->
<!--          </button>-->
<!--        </div>-->
        <div class="game__board__keyboard">
          <div *ngFor="let letter of alphabet">
            <div
              *ngIf="letter.clicked === true; then clicked; else notClicked"
            ></div>
            <ng-template #notClicked>
              <div id="letter--notcliked" (click)="divine($event)">
                {{ letter.value }}
              </div>
            </ng-template>
            <ng-template #clicked>
              <div id="letter--cliked" (click)="divine($event)">
                {{ letter.value }}
              </div>
            </ng-template>
          </div>
        </div>
        <div
          *ngIf="
            divinePasswordTour === true;
            then divinePassword;
            else notDivinePassword
          "
        ></div>
        <ng-template #notDivinePassword>
          <button class="button" (click)="divinePasswordListener()">
            Odgadnij hasło
          </button>
        </ng-template>
        <ng-template #divinePassword>
          <div class="game__board__keyboard__btn">
            <button class="button" (click)="resetGuess()" [disabled]="gameEnd">
              Cofnij
            </button>
            <button class="button" (click)="saveGuess()" [disabled]="gameEnd">
              Zapisz
            </button>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #wheel>
        <p class="info_wheel">{{ this.infoWheel }}</p>
        <p class="info_wheel_turn">Runda gracza: {{ this.turnPlayerName }}</p>
        <div class="game__board__wheel">
          <div id="arrow_down"></div>
          <button
            id="wheel"
            [ngStyle]="{ transform: 'rotate(' + wheelAngle + 'deg)' }"
            (click)="rotateWheel()"
          ></button>
        </div>
      </ng-template>
    </div>

    <div class="game__board__labels">
      <div class="game__board__labels__player">
        Limit punktów: {{ maxGamePoints }}
      </div>
      <div class="game__board__labels__player" *ngFor="let player of players">
        <p>{{ player.name }} - {{ player.totalPoints }}</p>
        <p>{{ player.points }}</p>
      </div>
      <button class="game__labels__btn" (click)="exitGame()">
        Wyjdź z gry
      </button>
    </div>
  </div>
  <app-chat [roomID]="roomID" [userName]="userName"></app-chat>
</div>

<div *ngIf="waitingForStart === true">
  <app-loading-spinner-game
    [playersListQueue]="playersListQueue"
    (messageEvent)="startGame($event)"
    [isGameAdmin]="isGameAdmin"
  ></app-loading-spinner-game>
</div>

<div *ngIf="gameEnd === true">
  <div class="game_results">
    <div class="game_results__inner">
      <h2>Koniec gry</h2>
      <div *ngFor="let player of playersResults">
        <p>{{ player.name }}: {{ player.totalPoints }}</p>
      </div>
      <button class="game__labels__btn" (click)="exitGame()">
        Wyjdź z gry
      </button>
    </div>
  </div>
</div>
