<div class="game">
  <div class="left_panel"></div>
  <div class="game__board">
    <h3 class="game__board__category">Category: {{ category }}</h3>
    <div class="game__board__letters">
      <div *ngFor="let entry_letter of entry">
        <div id="entry_letter">
          {{ entry_letter }}
        </div>
      </div>
    </div>
    <div *ngIf="isDivineTour; then keyboard; else wheel"></div>
    <ng-template #keyboard>
      <div class="game__board__keyboard">
        <p>Kwota: {{prize}}</p>
        <div *ngFor="let letter of alphabet">
          <div id="letter">
            {{ letter }}
          </div>
        </div>
      </div>
      <button class="button" (click)="callBack($event)">Odgadnij hasło</button>
      <button class="button" (click)="callBack($event)">Cofnij</button>
    </ng-template>
    <ng-template #wheel>
      <div class="game__board__wheel">
        <div id="arrow_down"></div>
        <button id="wheel" (click)="rotateWheel($event)"></button>
      </div>
      <button class="button" (click)="callBack($event)">Odgadnij hasło</button>
    </ng-template>
  </div>
  <div class="game__labels">
    <div *ngFor="let player of players">
      <p class="game__labels__player">
        {{ player.name }}
      </p>
      <p>Wynik: {{ player.score }}</p>
    </div>
    <button class="game__labels__btn" routerLink="/">Wyjdź z gry</button>
  </div>
</div>

<div class="chatBox">
  <div class="chatBox__header">Czat</div>
  <div class="chatBox__content">
    <div *ngFor="let msg of messages">
      <p class="chatBox__content__msg">{{ msg }}</p>
    </div>
  </div>
  <form (submit)="onMessageSubmit()" class="chatBox__form">
    <input
      class="chatBox__input"
      [(ngModel)]="chatMessage"
      type="text"
      name="chatMessage"
      placeholder="Wiadomość..."
    />
  </form>
</div>
