.start_page{
  width: 100%;
}

.logo{
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
  /*transform: translateY(150%);*/
  padding-top: 13%;
}

.menu{
  width: 20%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
