<div class="menu">
  <p class="menu__title">Twój profil</p>
  <form class="menu__form" (submit)="onUserSubmit()">
    <div class="menu__form__label">
      <label for="username">Nazwa</label>
      <input
        class="menu__form__label__input"
        type="text"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        [disabled]="disableUsername"
      />
      <img
        class="menu__form__label__btn"
        (click)="changeUsername()"
        src="../../assets/img/icon.png"
      />
    </div>
    <div class="menu__form__label">
      <label for="emial">Email</label>
      <input
        class="menu__form__label__input"
        type="text"
        id="emial"
        name="emial"
        [(ngModel)]="user.email"
        [disabled]="disableEmail"
      />
      <img
        class="menu__form__label__btn"
        (click)="changeEmail()"
        src="../../assets/img/icon.png"
      />
    </div>
    <div class="menu__form__label">
      <label for="password">Hasło</label>
      <input
        class="menu__form__label__input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        [disabled]="disablePassword"
      />
      <img
        class="menu__form__label__btn"
        (click)="changePassword()"
        src="../../assets/img/icon.png"
      />
    </div>
    <input type="submit" class="button" value="Zapisz" />
  </form>
  <button class="button" routerLink="/friends">Znajomi</button>
  <button class="button" routerLink="/statistics">Moje statystyki</button>
  <button class="button" routerLink="/">Powrót</button>
</div>
