<div class="menu">
  <p class="menu__title">Twój profil</p>
  <p class="menu__subtitle">Użytkownik: {{ username }}</p>

  <form class="menu__form" (submit)="onUserSubmit()">
    <div class="menu__form__inputs">
      <div class="menu__form__label">
        <label for="emial">Email</label>
        <input
          class="menu__form__label__input"
          type="text"
          id="emial"
          name="emial"
          [(ngModel)]="email"
          [disabled]="disableEmail"
        />
        <img
          class="menu__form__label__btn"
          (click)="changeEmail()"
          src="../../assets/img/icon.png"
        />
      </div>
      <div class="menu__form__label">
        <label for="username">Stare hasło</label>
        <input
          class="menu__form__label__input"
          type="text"
          id="username"
          name="username"
          placeholder="Wpisz stare hasło..."
          [(ngModel)]="password"
          [disabled]="disablePassword"
        />
        <img
          class="menu__form__label__btn"
          (click)="changePassword()"
          src="../../assets/img/icon.png"
        />
      </div>
      <div class="menu__form__label">
        <label for="password">Nowe hasło</label>
        <input
          class="menu__form__label__input"
          type="password"
          id="password"
          name="password"
          placeholder="Wpisz nowe hasło..."
          [(ngModel)]="password"
          [disabled]="disablePassword"
        />
        <img
          class="menu__form__label__btn"
          (click)="changePassword()"
          src="../../assets/img/icon.png"
        />
      </div>
      <div class="menu__form__label">
        <label for="password">Powtórz hasło</label>
        <input
          class="menu__form__label__input"
          type="password"
          id="passwordRepeat"
          name="passwordRepeat"
          placeholder="Powtórz hasło..."
          [(ngModel)]="passwordRepeat"
          [disabled]="disablePassword"
        />
        <img
          class="menu__form__label__btn"
          (click)="changePassword()"
          src="../../assets/img/icon.png"
        />
      </div>
    </div>
    <input type="submit" class="button" value="Zapisz" />
  </form>
  <button class="button" routerLink="/friends">Znajomi</button>
  <button class="button" routerLink="/statistics">Moje statystyki</button>
  <button class="button" routerLink="/">Powrót</button>
</div>
