<img routerLink="/" class="logo" src="../assets/img/logo.png" alt="Logo" />

<div class="menu">
  <p class="menu__title">Znajomi</p>
  <div *ngIf="friends.length === 0; then noFirends; else haveFriends"></div>
    <ng-template #noFirends>Nie masz jeszcze żadnych znajomych :(</ng-template>
    <ng-template #haveFriends>
      <div *ngFor="let friend of friends">
        {{ friend.name }}
        <button (click)="removeFriend()">Usuń</button>
      </div>
      <button class="button">Dodaj znajomego</button>
    </ng-template>
</div>
